* {
  box-sizing: border-box;
  background-color: rgb(134, 60, 21);
}

p::first-letter {
  font-size: 36px;
  color: red;
}

p::first-line {
  color: green;
}

p::selection {
  color: azure;
  background-color: lightcoral;
}

p::before {
  content: "Paragraph:";
}

.firstWord::before {
  content: "<<"; /*обов'язковий для before і after*/
  color: chartreuse;
}

.firstWord::after {
  content: ">>";
  color: chartreuse;
}
