* {
  box-sizing: border-box;
}

ul {
  font-size: 0;
  margin: 20px;
  white-space: nowrap;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  background-color: rgb(11, 184, 144);
  font-size: 16px;

  position: relative;
}

a::before,
a::after {
  content: "";
  width: 0;
  transition: width 0.5s;
  position: absolute;
  height: 2px;
}

a::after {
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, white, green);
}

a:hover::after,
a:hover::before {
  content: "";
  width: 100%;
}

a::before {
  right: 0;
  top: 0;
  background-image: linear-gradient(to left, white, green);
}
